<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            [% post.title %] Dancebin!
        </title>

        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css"/>
        <link rel="stylesheet" href="/css/style.css" type="text/css"/>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    </head>
    <body>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <a class="brand" href="/">Dancebin</a>
            </div>
          </div>
        </div>
        <div class="container">
            [% content %]
        </div>
    </body>
</html>
